@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #edbdcd
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 5rem;
}

.big-text
 {
  font-family: 'Abril Fatface', cursive;
  padding-bottom: 0;
  color: #e85a1d;
}

.mini-text {
  font-family: 'Archivo Black', sans-serif;
  max-width: 8.5rem;
  margin-left: 35rem;
  color: #fff;
}

span {
  animation: fadein 6s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.yotta {
  font-size: 7.4784rem;
  line-height: 7.5rem !important;
}
