html {
  background-color: #edbdcd;
}

body {
  margin: 2rem;
}

.big-text {
  font-family: "Abril Fatface", cursive;
  padding-bottom: 0;
  color: #e85a1d;
  font-size: 4.5rem;
  text-overflow: clip;
  word-wrap: break-word;
}

.mini-text {
  font-family: "Archivo Black", sans-serif;
  max-width: 10rem;
  margin-left: auto;
  color: #fff;
  letter-spacing: .05rem;
}

span {
  animation: fadein 6s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.yotta {
  font-size: 7.4784rem;
  line-height: 7rem !important;
}

@media only screen and (min-width: 25em) {

  body {
    margin: 4.5rem;
  }

  .big-text {
    font-size: 4.5rem;
    text-overflow: clip;
    word-wrap: break-word;
  }

}

@media only screen and (min-width: 38em) {

  body {
    margin: 3rem;
  }

  .big-text {
    font-size: 4.5rem;
  }

  .mini-text {
    margin-right: 1.5rem;
    margin-left: auto;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin: 5rem;
  }

  .big-text {
    font-size: 6rem;
    line-height: 1;
  }
  .mini-text {
    margin-right: 6rem;
    margin-left: auto;
  }

}

@media only screen and (min-width: 90em) {

  .mini-text {
    margin-right: 25rem;
    margin-left: auto;
  }

}
